@charset "utf-8";
@use "src/const";

.signup {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  @include const.mq(mobile){
    width: 300px;
  }

  .error-message {
    color: #ff3333;
  }

  .signup-form {
    margin: 25px 0;
    color: #555555;

    .email-input, .name-input, .password-input {
      width: 100%;
      font-size: large;
      height: 30px;
      margin-bottom: 25px;
      box-sizing: border-box;
    }

    .signup-button {
      background-color: #242F9B;
      color: #ffffff;
      width: 100px;
      height: 40px;
      border-radius: 5px;
    }
  }
}
