@charset "utf-8";
@use "src/const";

.signin {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  @include const.mq(mobile){
    width: 300px;
  }

  .error-message {
    color: #ff3333;
  }

  .signin-form {
    margin: 25px 0;

    .email-label, .password-label {
      color: #555555;
    }

    .email-input, .password-input {
      width: 100%;
      font-size: large;
      height: 30px;
      margin-bottom: 25px;
      box-sizing: border-box;
    }

    .signin-button {
      background-color: #242F9B;
      color: #ffffff;
      width: 100px;
      height: 40px;
      border-radius: 5px;
    }
  }
}
